body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #262626;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    visibility: hidden;
}

header {
    background-color: #44895b;
    color: white;
    padding: 1em 0;
    text-align: center;
}

.mtitle a {
    color: white;
    text-decoration: none;
}

.mtitle a:hover {
    color: white;
    text-decoration: none;
}

.pdf-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #44895b;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.pdf-button:hover {
    background-color: #386f57;
}

.navbar {
    display: flex;
    justify-content: center;
    padding: 1em 0;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    margin: 0 1em;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
    display: block;
}

.navbar a:hover {
    background-color: #386f57;
    border-radius: 4px;
}

main {
    color: white;
    padding: 1em;
    flex: 1;
}

section {
    margin-bottom: 1em;
}

h2 {
    color: #c5c0c5;
}

footer {
    background-color: #44895b;
    color: white;
    text-align: center;
    padding: 1em 0;
    /* position: fixed; */
    margin-top: auto;
    width: 100%;
    /* bottom: 0; */
}

footer a {
    color: white;
    text-decoration: none;
}

/* new styles: */

.team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
    padding: 2em 0;
}

.team-member {
    background-color: #333;
    border-radius: 10px;
    padding: 1em;
    width: 250px;
    text-align: center;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.team-member img {
    width: 100%;
    max-width: 200px;
    height: auto;
    object-fit: cover;
    /* border-radius: 50%; */
    margin-bottom: 0.5em;
}

.team-member h3 {
    margin: 0.3em 0 0.1em;
}

.team-member .grade {
    font-size: 0.9em;
    color: #ccc;
}

.team-member .roles {
    font-style: italic;
    margin: 0.5em 0;
}

.team-member .desc {
    font-size: 0.9em;
    color: #aaa;
}